<!DOCTYPE html>
<html>
    <%-include('headpart.ejs')%>
    <body>
        <%-include('navi.ejs')%>
        <% if(user){ %>
            <%=user.id%>님 어서 오세요.
            <form action="/logout" method="post">
                <button type="submit">로그아웃</button>
            </form>
        <% } else { %>
            <form action="/login" method="get">
                <button type="submit">로그인</button>
            </form>
        <% } %>
    </body>
</html>